
/* please use Big-5 code open cuz school server can not use with UTF-8 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
	padding: auto;
  margin: 0;
  
}


html,
body {
  height: 100%;
  background: #fefae0;
  box-sizing: border-box;
}

.container {
  /* text-align: center; */
  padding: 1em;
  margin:150px auto;
  max-width:900px;
} 
.container .title{
  padding:auto;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #ffd199dd;
  /* max-width:655px; */
} 


.container h1,
.demo,
.demo-item {
  display: block;
  font-weight: 600;
}
 
.container h2{
  font-size: 0.85em;
  padding: 0.2em;
  background-color: #f2de03;
}  
h1,h2,h3,p{
  text-align: center;
}
.demo {
  height: 50px;
  margin: 0;
  overflow: hidden;
  background-color: #2a2a28;
  color: #fff;
}

.demo-item {
  position: relative;
  font-size: 1.5em;
  padding-top: .25em;
  animation: animatetotop 12s steps(3) infinite;
}

.demo-item_inner,
.demo-item-overlay {
  display: inline-block;
}

.demo-item_inner {
  position: relative;
  line-height: 1;
}

.demo-item_inner:after {   
  content: "";
  position: absolute;
  top:-1px;right:0;bottom:-2px;left:0;
  border-left: 1px solid #fff;
  background-color: #2a2a28;
  animation: animatetoright 1s steps(16) infinite alternate;
}

.IO {
  padding: 0.5em;
  margin: auto;
  margin-left: 10%;
  /* position: relative; */
}

input[type="text"]
{
  /* position: absolute;
  top: 5px;
  left: 90px; */
padding:5px 15px; 
border:2px black solid;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
text-align: center;
}

.alert{

  border: none;

}
.btn {
  /* position: absolute;
  top: 0px;
  left: 280px; */
margin:5px;
padding: 0.5em;
outline: none;
color:#fff;
background-color: #27ae60;
border: none;
border-radius:5px;
box-shadow: 0 9px #95a5a6;
}

.btn:hover{
background-color: #2ecc71;
}

.btn:active {
background-color: #2ecc71;
box-shadow: 0 5px #95a5a6;
transform: translateY(4px);
}

a:link{
  color:#d7e9ff;
}
a:visited{
  color:#5f7795;
}

a:hover{
  color:green;
}

a:active{
  color:#fd6d41;
}

.list {
  overflow:visible;
  background-color: #2a2a28;
  color: #fff;
  /* text-align: center; */
  

}

/* #render.open {

}
#render {

} */
#render{
  display: block;
}

ul.wrap {
  list-style-type: none;
  display: table;
  margin: auto;
  margin-left: 10%;
  padding: 0.9em;
}

@keyframes animatetoright {
  0% {
    left: 0;
    margin-right: auto;
  }
  100% {
    left: 100%;
    margin-left: .6em;
    margin-right: -.6em;
  }
}

@keyframes animatetotop {
  0% {
    top: 0;
  }
  100% {
    top: -120px;
  }
}
@media (max-width: 600px) { 

  .title{
    font-size: 0.65em;
  }

 }

